body {
    background-image: url('bimage.jpg');
}

.heading {
    text-align: center;
    background-color: gray;
    margin-left: 14%;
    margin-right: 14%;
}

.box1 {
    display: flex;
    justify-content: space-around;
    margin-top: 15%;
}

.box2 {
    display: flex;
    justify-content: space-around;
}

.balance {
    text-align: center;
    margin-top: 4%;
}

.budget {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.Expense {
    display: flex;
    flex-direction: column;
    padding-top: 5%;
}

.n2 {
    border: none;
}

.container {
    background-image: url('3637360.jpg');
}